<!DOCTYPE html>
<html  lang="en" dir="ltr">
<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename = 'css/style.css') }}">
<head>
    <meta charset="utf-8">

    <title>NTU Racing Team</title>
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@400;500;600;700&family=Share+Tech+Mono&display=swap" rel="stylesheet">
    <!-- Bootstraps Java Scipts Links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>



    <!-- JQuery links  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


    <!--High CHART LIVE  -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

</head>

<body style="    height: 100%;

font-family: 'Share Tech Mono', monospace;
font: 16px ;
overflow: hidden;
background: #2193b0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6dd5ed, #2193b0); "></body>




    <!-- <div class="container" id="master-c" style=""> -->

    </div>
    <div id="root" class="todo-app__root" style="    
    margin: 0 auto;
    /* margin-top: 7em; */
    width: 50em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1em;
    color: #4d4d4d;
    font-weight: 300;">
        <header class="todo-app__header" style="margin-bottom: 1em;">
            <h1 class="todo-app__title" style="    
            font-size: 100px;
            font-weight: 100;
            text-align: center;
            color:black;
            margin: 0;
            padding: 0;">E-BAG</h1>
        </header>
        <footer class="todo-app__footer" id="todo-footer" style="background: #87CEFA;  /* fallback for old browsers /*
        ">
            <div class="todo-app__total" style="visibility: hidden;">0 left</div>
            <ul class="todo-app__view-buttons">
                <button id="btn_all" >All</button>
                <button id="btn_hiking" >hiking</button>
                <button id="btn_party">meeting</button>                
            </ul>
            <div class="todo-app__clean" style="visibility: hidden;">
                <button>Clear Completed</button>
            </div>
        </footer>
        <section class="todo-app__main" id="input" style="width: 100%;">
            <input class="todo-app__input" id="todo-input"  placeholder="What needs to be done?" style="background: #87CEFA;">
        </section>
        

        <footer class="todo-app__footer" id="todo-footer" style="background: #87CEFA; ">
            <div class="todo-app__total" id="total"> 0 left </div>
            <ul class="todo-app__view-buttons">
                <button id="btn_all" >All</button>
                <button id="btn_active">Active</button>
                <button id="btn_completed">Completed</button>
            </ul>
            <div class="todo-app__clean">
                <button id="clear" onclick="clear_completed()">Clear Completed</button>
            </div>
        </footer>
    </div>
    


    <div id = "Value_Velocity">
    </div>



    <div class="container-fluid" style="display:none">
        <!-- Example row of columns -->
        <div class="row">
            <div class="container-fluid" id="data-Velocity">

            </div>
        </div>
    </div>


    <!-- <hr class="my-4"> -->

    <div>


    </div>

    <div class="container-fluid" style="display:none">
        <!-- Example row of columns -->
        <div class="row">
            <div class="container-fluid" id="data-SOC">

            </div>
        </div>
    </div>

    <!-- <hr class="my-4"> -->

    <script>
        //------------add inclass script here
        const input = document.getElementById('todo-input');

        var id = 0;
        var todoListData=[];
        // var objname_to_id = new Object;
        var objname_to_id = new Object
        var todoCount = document.getElementById("total");
        const btn_all = document.getElementById("btn_all")
        const btn_active = document.getElementById("btn_active")
        const btn_completed = document.getElementById("btn_completed")
        const btn_hiking = document.getElementById("btn_hiking")
        const btn_party = document.getElementById("btn_party")

        // function load_data(data){
        //     if(data){

        //     }

        // }

        function check_objname_id(){
            todoListData.forEach(e=>{
                console.log("e.id:"+e.id)
                console.log(objname_to_id)
                objname_to_id[document.getElementById("detail"+e.id).innerHTML] = e.id
            })
        }

        function CreateNewItem(keyin){
            if (id ===0){    
                //初始化ul    
                const check_list = document.createElement("UL");
                document.getElementById("input").appendChild(check_list)
                check_list.setAttribute("class","todo-app__list")
                check_list.setAttribute("id","todo-list")
            } 
            
            const itemNode = document.createElement("LI");
            const wrapper = document.createElement("DIV");
            const checkbox = document.createElement("INPUT");
            const detail = document.createElement("H1");
            const itemimg = document.createElement("IMG");
            const checklabel = document.createElement("label")

            itemNode.setAttribute("class","todo-app__item")
            itemNode.style.background=" #87CEFA"
            wrapper.setAttribute("class","todo-app__checkbox")
            checkbox.setAttribute("id", id);
            checkbox.setAttribute("class","todo-item-input");
            checkbox.setAttribute("type","checkbox")

            
            checklabel.setAttribute("for",id)   
            checklabel.setAttribute("id","label"+id)    
            detail.setAttribute("class","todo-app__item-detail")  
            detail.setAttribute("id","detail"+id)   
            //itemimg.setAttribute("src","./img/x.png");
            itemimg.setAttribute("src","{{ url_for('static', filename = 'img/x.png') }}");
            //{{ url_for('static', filename = 'css/style.css') }}
            itemimg.setAttribute("class","todo-app__item-x");
            itemimg.setAttribute("id","x"+id);

            //detail.innerHTML = keyin + " "+ id;
            detail.innerHTML = keyin

            wrapper.appendChild(checkbox);
            wrapper.appendChild(checklabel);
            itemNode.appendChild(wrapper);    
            itemNode.appendChild(detail);
            itemNode.appendChild(itemimg);


            document.getElementById("todo-list").appendChild(itemNode)
            checkbox.setAttribute("onClick", "checkboxOnClick(this)"); //函數加引號
            itemimg.setAttribute("onClick", "xOnClick(this)");
            detail.setAttribute("onClick", "detailOnClick(this)")
            todoListData[id] = document.getElementById(id);
            todoListData[id].isComplete = false;
            if(todoListData[id].purpose=="hiking"){
                todoCount.innerHTML = todoListData.filter(e=> e.purpose==="hiking" && !e.isComplete).length+"left"
            }
            if(todoListData[id].purpose=="meeting"){
                todoCount.innerHTML = todoListData.filter(e=> e.purpose==="meeting" && !e.isComplete).length+"left"

            }
            else{
                todoCount.innerHTML = todoListData.filter(ele => !ele.isComplete).length + " left";
                console.log(todoListData)
            }

            // todoListData["num"+id] = document.getElementById(id);
            // todoListData["num"+id].isComplete = false;

            id+=1;

            }

        function detailOnClick(clickedElement){
            var purpose  = prompt("please input category")
            clickedElement.parentNode.querySelector(".todo-item-input").purpose = purpose
        }


        function checkboxOnClick(clickedElement){
            console.log("clickedElement.id:"+clickedElement.id)
            const node = document.getElementById("detail"+clickedElement.id);
            console.log(node)
            var clickedele_index = todoListData.indexOf(document.getElementById(clickedElement.id))
            todoListData[clickedele_index].isComplete = !todoListData[clickedele_index].isComplete
            console.log("todoListData"+todoListData)
            console.log("clickedele_index"+clickedele_index)
            if(todoListData[clickedele_index].isComplete===true){
                node.style["text-decoration"] = "line-through";
                node.style["opacity"] = 0.5;
                document.getElementById(clickedElement.id).style["background"] = "#26ca299b";
                document.getElementById("label"+clickedElement.id).style["background"] = "#26ca299b";
                
            }
            else{
                node.style["text-decoration"] = "none";
                node.style["opacity"] = 1;
                document.getElementById(clickedElement.id).style["background"] = "rgba(99, 99, 99, 0.698)";
                document.getElementById("label"+clickedElement.id).style["background"] = "rgba(99, 99, 99, 0.698)";
                  
            }    
            //todoCount = document.getElementById("total");
            if(clickedElement.purpose==="hiking"){
                console.log("purpose=hiking")
                console.log(todoListData.filter(e=> e.purpose==="hiking").filter(e=>!e.isComplete))
                todoCount.innerHTML = todoListData.filter(e=> e.purpose == "hiking" && !e.isComplete).length+"left"
            }
            else if(clickedElement.purpose==="meeting"){
                todoCount.innerHTML = todoListData.filter(e=> e.purpose==="meeting" && !e.isComplete).length+"left"

            }
            else{
                todoCount.innerHTML = todoListData.filter(ele => !ele.isComplete).length + " left";
                console.log(todoListData)
            }

        }

        function xOnClick(clickedElement){
            var clicked_id = clickedElement.id.replace("x","")     
            console.log("removed id = "+ clicked_id) 
            console.log("indexOf = "+ todoListData.indexOf(document.getElementById(clicked_id)) )
            todoListData.splice(todoListData.indexOf(document.getElementById(clicked_id)) ,1) //要先刪list
            document.getElementById("todo-list").removeChild(clickedElement.parentNode)  //才能刪block，不然list中存的物件已經消失了
            delnum = "num" + clicked_id
            delete todoListData.delnum
            todoCount = document.getElementById("total");
            //console.log(todoListData)
            //for(i = 0; i<todoListData. ) 

            //count not complete
            //Object.keys(todoListData).filter(ele => todoListData.ele===false)
            if(clickedElement.purpose=="hiking"){
                todoCount.innerHTML = todoListData.filter(e=> e.purpose==="hiking" && !e.isComplete).length+"left"
            }
            if(clickedElement.purpose=="meeting"){
                todoCount.innerHTML = todoListData.filter(e=> e.purpose==="meeting" && !e.isComplete).length+"left"

            }
            else{
                todoCount.innerHTML = todoListData.filter(ele => !ele.isComplete).length + " left";
                console.log(todoListData)
            }
            console.log("todoListDat:"+todoListData)
            //todoCount.innerHTML = todoListData.filter(ele => !ele.isComplete).length + " left";

        }

        function clear_completed(){
            var finished_item=todoListData.filter(ele => ele.isComplete===true)
            console.log("finished_item:"+finished_item)
            finished_item.forEach(ele=>{
                console.log("finished id:"+ele.id); 
                console.log("index of finished id"+ele.id+" in todoListData:"+todoListData.indexOf(document.getElementById(ele.id)));  
                todoListData.splice(todoListData.indexOf(document.getElementById(ele.id)) ,1)       
                document.getElementById("todo-list").removeChild(document.getElementById(ele.id).parentNode.parentNode)
                
            })
            console.log("todoListDat:")
            console.log(todoListData)
        }



        btn_all.setAttribute("onClick","allonclick()")
        function allonclick(){
            todoListData.forEach(e=>{
                // e.parentNode.parentNode.style.display = "visible"
                console.log(e.parentNode.parentNode)
                e.parentNode.parentNode.style.display=""
            })
            todoCount.innerHTML = todoListData.filter(ele => !ele.isComplete).length + " left";
        }

        btn_active.setAttribute("onClick","activeonclick()")

        function activeonclick(){
            // todoListData.filter(ele => ele.isComplete).forEach(e=>{
            //     // document.getElementById("todo-list").removeChild(e.parentNode.parentNode)
            //     // e.parentNode.parentNode.style.visibility="hidden"
            //     e.parentNode.parentNode.style.display="none"
            // })
            todoListData.forEach(e=>{
                if (!e.isComplete){
                    e.parentNode.parentNode.style.display="" 
                }
                else{
                    e.parentNode.parentNode.style.display="none" 
                }
            })

        }

        btn_completed.setAttribute("onClick","completedonclick()")

        function completedonclick(){
            // todoListData.filter(ele => !ele.isComplete).forEach(e=>{
            //     // document.getElementById("todo-list").removeChild(e.parentNode.parentNode)
            //     // e.parentNode.parentNode.style.visibility="hidden"
            //     e.parentNode.parentNode.style.display="none"
            // })
            todoListData.forEach(e=>{
                if (e.isComplete){
                    e.parentNode.parentNode.style.display="" 
                }
                else{
                    e.parentNode.parentNode.style.display="none" 
                }
            })
        }

        btn_hiking.setAttribute("onClick","hikingonclick()")

        function hikingonclick(){
            // todoListData.filter(ele => !ele.isComplete).forEach(e=>{
            //     // document.getElementById("todo-list").removeChild(e.parentNode.parentNode)
            //     // e.parentNode.parentNode.style.visibility="hidden"
            //     e.parentNode.parentNode.style.display="none"
            // })
            todoListData.forEach(e=>{
                if (e.purpose==="hiking"){
                    e.parentNode.parentNode.style.display="" 
                }
                else{
                    e.parentNode.parentNode.style.display="none" 
                }
            })
            todoCount.innerHTML = todoListData.filter(e=> e.purpose==="hiking" && !e.isComplete).length+"left"
        }

        btn_party.setAttribute("onClick","partyonclick()")

        function partyonclick(){
            todoListData.forEach(e=>{
                if (e.purpose==="meeting"){
                    e.parentNode.parentNode.style.display="" 
                }
                else{
                    e.parentNode.parentNode.style.display="none" 
                }
            })
            todoCount.innerHTML = todoListData.filter(e=> e.purpose==="meeting" && !e.isComplete).length+"left"
        }




        input.addEventListener('keyup', 
            event => {
                if(event.key==="Enter" && event.target.value !== ''){
                    console.log(event.target.value)
                    const newItem = CreateNewItem(event.target.value)
                    input.value=""            
                    
                    console.log("todoListDat:")
                    console.log(todoListData)
                    }
            }
            ,false);

        //---end inclass todo

        //--------obj id mapping--------
        
        //








        var chartVelocity;
        var chartSOC;

        function requestData()
        {
            // Ajax call to get the Data from Flask
            var requests = $.get('/data');
            console.log(requests)

            var ve = requests.done(function (result)
            {
                // Velocity
                var seriesVelocity = chartVelocity.series[0],
                    shiftVelocity = seriesVelocity.data.length > 400;

                // SOC
                var seriesSOC = chartSOC.series[0],
                    shiftSOC = seriesSOC.data.length > 400;

                // Add the Point
                // Time - Velocity
                var data1 = [];
                data1.push(result[0]);
                data1.push(result[1]);


                // Add the Point
                // Time - SOC
                var data2 = [];
                data2.push(result[0]);
                data2.push(result[2]);

                var datadiv = document.createElement("DIV")
                var iddiv = document.createElement("DIV")
                var statusdiv = document.createElement("DIV")
                //datadiv.style["display"] = "inline"
                // iddiv.style["display"] = "inline"
                // statusdiv.style["display"] = "inline"
                // iddiv.innerHTML ="id:"+result[0]+","
                // statusdiv.innerHTML ="status:"+result[1]+","
                //datadiv.innerHTML = "id:"+result[0]+"<br>status:"+result[1]
                document.body.appendChild(datadiv)
                datadiv.appendChild(iddiv)
                datadiv.appendChild(statusdiv)


                chartVelocity.series[0].addPoint(data1, true, shiftVelocity);
                chartSOC.series[0].addPoint(data2, true, shiftSOC);
                // --------add code here-----------------
                //----------add obj----------
                // var todoListid = todoListData.forEach(element => {
                //     element.id
                // })
                // if(result[0])
                // const newItem = CreateNewItem(result[0])
                
                // obj_dic[{
                //     0:"backback"
                // }]

                //obj_id:obj name
                var obj_dic=["bottle","pencil case","obj2","obj3","obj4","obj5","bottle",]

                
    

                // obj_id_map = new Object;
                // obj_id_map.



                
                
                
                var obj_id = result[0]
                try{
                    
                    check_objname_id()
                    console.log("objname_to_id:"+objname_to_id)
                    checkboxOnClick(document.getElementById(objname_to_id[obj_dic[obj_id]]))
                    // document.getElementById(0).style["background"] = "#26ca299b";
                    console.log("try")
                }
                catch(e){
                    console.log("error")
                    console.log(e)
                    console.log(result[0])
                    //const newItem = CreateNewItem(obj_dic[result[0]])
                    const newItem = CreateNewItem(obj_dic[obj_id])
                    console.log("id"+id)
                    checkboxOnClick(document.getElementById(id-1)) //id++ right after being created 
                    check_objname_id()
                }
        
                //---------------------------



                // ---------------------------------------
                // call it again after one second
                setTimeout(requestData, 100);

            });
        }

        $(document).ready(function()
        {
            // --------------Chart 1 ----------------------------
            chartVelocity = new Highcharts.Chart({
                chart:
                    {
                    renderTo: 'data-Velocity',
                    defaultSeriesType: 'area',
                    events: {
                        load: requestData
                            }
                    },
                title:
                    {
                    text: 'Velocity'
                    },
                xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150,
                    maxZoom: 20 * 1000
                        },
                yAxis: {
                    minPadding: 0.2,
                    maxPadding: 0.2,
                    title: {
                        text: 'Speed(km)',
                        margin: 80
                            }
                         },
                series: [{
                    color : '#c23d23',
                    lineColor: '#303030',
                    name: 'Velocity',
                    data: []
                }]
            });
            // --------------Chart 1 Ends -----------------------

            // --------------Chart 2 ----------------------------
            chartSOC = new Highcharts.Chart({
                chart:
                    {
                        renderTo: 'data-SOC',
                        defaultSeriesType: 'area',
                        events: {
                            // load: requestData
                        }
                    },
                title:
                    {
                        text: 'SoC'
                    },
                xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150,
                    maxZoom: 20 * 1000
                },
                yAxis: {
                    minPadding: 0.2,
                    maxPadding: 0.2,
                    title: {
                        text: 'Remaining Power(%)',
                        margin: 80
                    }
                },
                series: [{
                    lineColor: '#1d82b8',
                    name: 'SOC',
                    data: []
                }]
            });

            // --------------Chart 2 Ends ------------------

        });
    </script>



<script>
    class Image{

        constructor(imgUrl, size)
        {
            this.imgUrl=imgUrl;
            this.size=size;
        }

        backgroundImage()
        {
            console.log("inside function ")
            // Select the Image
            var img = document.querySelector(".jumbotron");
            // create Css Text

        }

        centerTitle()
        {
            /*
                Center the Title
             */

        }
    }
    const imgUrl = 'https://i.imgur.com/uJp6rlp.jpg'
    const size = "30";
    var obj = new Image(imgUrl, size);
    obj.backgroundImage();
    obj.centerTitle();
    </script>


</body>


</html>
